.pusher > .container{
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.pusher > .container > .pointing.secondary.menu{*/
    /*width: 600px;*/
    /*margin: 0 auto;*/
/*}*/

/*.ui.secondary.pointing.menu .item{*/
    /*font-size: 16px;*/
    /*width: 150px;*/
    /*text-align: center;*/
    /*display: block;*/
/*}*/

/*±ýÍ¼ÑùÊ½*/
.chart {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 50px;
    z-index: 2;
    font-size: .1em;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .1em;
}